In [25]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Arun\Downloads\boston.csv")
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
from ydata_profiling import ProfileReport
report = ProfileReport(df,title = "house_report",explorative=True)
report.to_notebook_iframe()

In [27]:
y=df["MEDV"]
df=df.drop("MEDV",axis=1)

In [ ]:
from sklearn.preprocessing import RobustScaler,PowerTransformer #zn nox,Dis tax lstat rad
import numpy as np #indus age b pt ratio crim
col =["INDUS","AGE","B","PTRATIO","CRIM"]
for i in col:
       df[i]=np.log1p(df[i])


from sklearn.compose import make_column_transformer
transformer = make_column_transformer(
    (RobustScaler(),["ZN","NOX"]),
    (PowerTransformer(),["DIS","TAX","LSTAT","RAD"]),
    remainder="passthrough"
    )
x=transformer.fit_transform(df)
print(x.shape)

(506, 13)

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

gbr = GradientBoostingRegressor()
model=LinearRegression(n_jobs=-1)
ridge=Ridge(alpha=1)
lasso=Lasso(alpha=1)
forest=RandomForestRegressor(random_state=7,n_jobs=-1)

ridge.fit(x_train,y_train)
lasso.fit(x_train,y_train)
model.fit(x_train,y_train)
gbr.fit(x_train, y_train)
forest.fit(x_train,y_train)

ridge_pred=ridge.predict(x_test)
lasso_pred=lasso.predict(x_test)
pred=model.predict(x_test)
forest_pred=forest.predict(x_test)
gbr_pred=gbr.predict(x_test)

from sklearn.metrics import mean_squared_error,r2_score

print(mean_squared_error(pred,y_test))
print(r2_score(pred,y_test))

print(mean_squared_error(lasso_pred,y_test))
print(r2_score(lasso_pred,y_test))

print(mean_squared_error(ridge_pred,y_test))
print(r2_score(ridge_pred,y_test))

print(mean_squared_error(forest_pred,y_test))
print(r2_score(forest_pred,y_test))

print(mean_squared_error(gbr_pred,y_test))
print(r2_score(gbr_pred,y_test))

16.247920793528202
0.7417572043629277
26.970131658142847
0.3592106014267311
18.30278881901846
0.7078410351067259
9.536414447368424
0.8447511245904539
8.080930163222044
0.873601515189908