In [2]:
import pandas as pd
movies=pd.read_csv(r"C:\Users\Arun\Downloads\tmdb_5000_credits.csv\tmdb_5000_movies.csv")
credits=pd.read_csv(r"C:\Users\Arun\Downloads\tmdb_5000_credits.csv\tmdb_5000_credits.csv")

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
dropping=["homepage","production_companies","production_countries","runtime","spoken_languages","status","tagline","title","vote_count"]
for i in dropping:
    movies=movies.drop([i],axis=1)

In [6]:
movies.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,vote_average
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,7.2
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,6.9
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,6.3
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,7.6
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,6.1

In [7]:
movies=movies.dropna()
print(movies.isnull().sum())
print(movies.dtypes)

budget               0
genres               0
id                   0
keywords             0
original_language    0
original_title       0
overview             0
popularity           0
release_date         0
revenue              0
vote_average         0
dtype: int64
budget                 int64
genres                object
id                     int64
keywords              object
original_language     object
original_title        object
overview              object
popularity           float64
release_date          object
revenue                int64
vote_average         float64
dtype: object

In [8]:
credits["id"]=credits["movie_id"]
credits=credits.drop("movie_id",axis=1)

df=pd.merge(movies,credits,on="id")
df=df.drop("title",axis=1)
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,vote_average,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,7.2,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,6.9,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,6.3,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,7.6,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,6.1,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
from ast import literal_eval

def extract_names(text):
    try:
        items =literal_eval(text)
        return " ".join([item["name"] for item in items if "name" in item])
    except:
        return ""

for col in ["genres", "keywords", "cast", "crew"]:
    df[col] = df[col].fillna("").apply(extract_names)



df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,vote_average,cast,crew
0,237000000,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,7.2,Sam Worthington Zoe Saldana Sigourney Weaver S...,Stephen E. Rivkin Rick Carter Christopher Boye...
1,300000000,Adventure Fantasy Action,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,6.9,Johnny Depp Orlando Bloom Keira Knightley Stel...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...
2,245000000,Action Adventure Crime,206647,spy based on novel secret agent sequel mi6 bri...,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,6.3,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,Thomas Newman Sam Mendes Anna Pinnock John Log...
3,250000000,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,7.6,Christian Bale Michael Caine Gary Oldman Anne ...,Hans Zimmer Charles Roven Christopher Nolan Ch...
4,260000000,Action Adventure Science Fiction,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton Andrew Stanton John Lasseter Co...

In [10]:
df["crew"]=df["crew"][:3]
df["cast"]=df["cast"][:3]
df.head()
import datetime  as dt

df["release_date"]=pd.to_datetime(df["release_date"])
df["release_date"]=df["release_date"].dt.year
df.head()
df["profit"]=df["revenue"]-df["budget"]
df=((df.drop("budget",axis=1)).drop("revenue",axis=1)).drop("vote_average",axis=1)
df=df.fillna("")
df.head()

,genres,id,keywords,original_language,original_title,overview,popularity,release_date,cast,crew,profit
0,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009,Sam Worthington Zoe Saldana Sigourney Weaver S...,Stephen E. Rivkin Rick Carter Christopher Boye...,2550965087
1,Adventure Fantasy Action,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007,Johnny Depp Orlando Bloom Keira Knightley Stel...,Dariusz Wolski Gore Verbinski Jerry Bruckheime...,661000000
2,Action Adventure Crime,206647,spy based on novel secret agent sequel mi6 bri...,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,Thomas Newman Sam Mendes Anna Pinnock John Log...,635674609
3,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012,,,834939099
4,Action Adventure Science Fiction,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012,,,24139100

In [11]:
print(df.columns)
concat=['genres', 'keywords', 'original_language','overview', 'release_date', 'cast', 'crew']
print(df.dtypes)

df["tags"]=""
for i in concat:
    df["tags"]+="" +df[i].astype(str)

for i in concat:
    df=df.drop(i,axis=1)
df["tags"]=df["tags"].str.lower()
df["tags"].iloc[0]

Index(['genres', 'id', 'keywords', 'original_language', 'original_title',
       'overview', 'popularity', 'release_date', 'cast', 'crew', 'profit'],
      dtype='object')
genres                object
id                     int64
keywords              object
original_language     object
original_title        object
overview              object
popularity           float64
release_date           int32
cast                  object
crew                  object
profit                 int64
dtype: object

"action adventure fantasy science fictionculture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3denin the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.2009sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene reneestephen e. rivkin rick carter christopher boyes christopher boyes mali finn james horner james cameron james cameron james cameron james cameron james cameron andrew menzies jill brooks margery simkin kevin ishioka dick bernstein shannon mills dennie thorpe jana vance deborah lynn scott jon landau sean haworth kim sinclair kim sinclair richard f. mays laeta kalogridis mayes c. rubeo mauro fiore scott herbertson woody schultz linda devetta linda devetta richard bluck simon bright richard martin steve r. moore john refoua karl j. martin chiling lin ilram choi steven quale carla meyer nick bassett jill cormack andy mclaren terry notary garrett warren jonathan rothbart stefan dechant todd cherniawsky miranda rivers robert stromberg john harding roberto de angelis mike smithson alain lalanne lucas salton janace tashjian stephen rosenbaum frankie karena lisa lovaas jonathan fawkner robert bavin anthony almaraz carolyn m. fenton beth koenigsberg sam page tex kadonaga kim foscato tammy s. lee denny caira james waitkus addison teague c. scott baker luke caska david chow jonathan dyer joseph hiura rebecca jellie robert andrew johnson mike stassi john villarino jeffrey wisniewski cheryl nardi marshall winn gwendolyn yates whittle william stein lula washington chris del conte r. christopher white dan lemmon tim nielsen michael mulholland thomas nittmann edson williams christine carr john bruno david emmerichs christopher scarabosio jennifer teves brigitte yorke ken fischer iain hutton steve ingram joyce cox jenny foster christopher marino jim milton cyndi ochs lucas putnam anthony 'max' ivins john knoll eric saindon wayne stables david stinnett guy williams stuart thorp giles coburn mark fellman scott sprague jeremy hollobon orlando meunier taisuke tanimura lilia mishel acevedo alejandro m. hernandez marvin hall judy alley mike perry andrew morley seth engstrom eric oliver matsune suzuki paul tobin roxane griffin arun ram-mohan georgia lockhart-adams thrain shadbolt brad alexander shadi almassizadeh simon clutterbuck graeme demmocks adrian fernandes mitch gates jerry kung andy lomas sebastian marino matthias menz sergei nevshupov philippe rebours michael takarangi david weitzberg ben white min windle"

In [12]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

def convert(text):
    words = text.split(" ")
    lemmatized = [lemmatizer.lemmatize(word) for word in words]
    return " ".join(lemmatized)


df["tags"] = df["tags"].apply(convert)

print(df["tags"][0])

action adventure fantasy science fictionculture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relation mind and soul 3denin the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following order and protecting an alien civilization.2009sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene reneestephen e. rivkin rick carter christopher boyes christopher boyes mali finn james horner james cameron james cameron james cameron james cameron james cameron andrew menzies jill brook margery simkin kevin ishioka dick bernstein shannon mill dennie thorpe jana vance deborah lynn scott jon landau sean haworth kim sinclair kim sinclair richard f. may laeta kalogridis mayes c. rubeo mauro fiore scott herbertson woody schultz linda devetta linda devetta richard bluck simon bright richard martin steve r. moore john refoua karl j. martin chiling lin ilram choi steven quale carla meyer nick bassett jill cormack andy mclaren terry notary garrett warren jonathan rothbart stefan dechant todd cherniawsky miranda river robert stromberg john harding roberto de angelis mike smithson alain lalanne lucas salton janace tashjian stephen rosenbaum frankie karena lisa lovaas jonathan fawkner robert bavin anthony almaraz carolyn m. fenton beth koenigsberg sam page tex kadonaga kim foscato tammy s. lee denny caira james waitkus addison teague c. scott baker luke caska david chow jonathan dyer joseph hiura rebecca jellie robert andrew johnson mike stassi john villarino jeffrey wisniewski cheryl nardi marshall winn gwendolyn yates whittle william stein lula washington chris del conte r. christopher white dan lemmon tim nielsen michael mulholland thomas nittmann edson williams christine carr john bruno david emmerichs christopher scarabosio jennifer teves brigitte yorke ken fischer iain hutton steve ingram joyce cox jenny foster christopher marino jim milton cyndi ochs lucas putnam anthony 'max' ivins john knoll eric saindon wayne stable david stinnett guy williams stuart thorp giles coburn mark fellman scott sprague jeremy hollobon orlando meunier taisuke tanimura lilia mishel acevedo alejandro m. hernandez marvin hall judy alley mike perry andrew morley seth engstrom eric oliver matsune suzuki paul tobin roxane griffin arun ram-mohan georgia lockhart-adams thrain shadbolt brad alexander shadi almassizadeh simon clutterbuck graeme demmocks adrian fernandes mitch gate jerry kung andy lomas sebastian marino matthias menz sergei nevshupov philippe rebours michael takarangi david weitzberg ben white min windle

In [13]:

from sklearn.feature_extraction.text import TfidfVectorizer

tv=TfidfVectorizer(stop_words="english")
vector=tv.fit_transform(df["tags"]).toarray()
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [14]:
df

,id,original_title,popularity,profit,tags
0,19995,Avatar,150.437577,2550965087,action adventure fantasy science fictioncultur...
1,285,Pirates of the Caribbean: At World's End,139.082615,661000000,adventure fantasy actionocean drug abuse exoti...
2,206647,Spectre,107.376788,635674609,action adventure crimespy based on novel secre...
3,49026,The Dark Knight Rises,112.312950,834939099,action crime drama thrillerdc comic crime figh...
4,49529,John Carter,43.926995,24139100,action adventure science fictionbased on novel...
...,...,...,...,...,...
4794,9367,El Mariachi,14.269792,1820920,action crime thrillerunited states–mexico barr...
4795,72766,Newlyweds,0.642552,-9000,comedy romanceena newlywed couple's honeymoon ...
4796,231617,"Signed, Sealed, Delivered",1.444476,0,comedy drama romance tv moviedate love at firs...
4797,126186,Shanghai Calling,0.857008,0,enwhen ambitious new york attorney sam is sent...
4798,25975,My Date with Drew,1.929883,0,documentaryobsession camcorder crush dream gir...

In [15]:
tv.get_feature_names_out()[:500]

array(['00', '000', '007', '07am', '10', '100', '1000', '101', '108',
       '10th', '11', '114', '117', '118', '119', '11ena', '11th', '12',
       '1200', '1215', '1250', '125th', '12th', '13', '1300', '13th',
       '14', '140', '1408', '142', '1429', '148', '14pm', '14th', '15',
       '150', '150th', '1520s', '1536', '15th', '16', '1600s', '161',
       '1630s', '1644', '1681', '1691', '16th', '17', '170', '1700s',
       '173rd', '1748', '1776', '17th', '18', '180', '1800', '1818',
       '1820', '1820s', '1824', '1831', '1834', '1836', '1838', '1839',
       '1841', '1845', '1850', '1850s', '1856', '1857', '1860', '1862',
       '1863', '1870s', '1875', '1876', '1879', '1880s', '1882', '1885',
       '1889', '1890', '1890s', '18th', '19', '1900', '1900s', '1903',
       '1905', '191', '1910', '1910s', '1910sen84', '1910sendeformed',
       '1910senyoung', '1910spta', '1911', '1912', '1914', '1915', '1916',
       '1917', '1917ena', '1918', '1919', '1920', '1920s', '1922', '1924',
       '1925', '1926', '1927', '1928', '1929', '1930', '1930s',
       '1930sena', '1930sendamon', '1930senfilm', '1930sennew',
       '1930senthe', '1930senyoung', '1931', '1932', '1933', '1934',
       '1935', '1936', '1937', '1938', '1939', '1940', '1940s',
       '1940senas', '1940senframed', '1940sensmall', '1940senspanning',
       '1940senthe', '1940sfrset', '1941', '1942', '1943', '1944', '1945',
       '1946', '1947', '1948', '1949', '1950', '1950s',
       '1950senabortionist', '1950senin', '1950senset', '1950senworld',
       '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958',
       '1959', '1960', '1960s', '1960sena', '1960senadapted',
       '1960senarrogant', '1960senas', '1960senbefore', '1960senescape',
       '1960senin', '1960senmusical', '1960senpleasantly',
       '1960senteenage', '1960senthe', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '19672009', '1968', '1969', '1970',
       '1970s', '1970sdeder', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1980s', '1980sena',
       '1980senafter', '1980senalmost', '1980senas', '1980senfor',
       '1980senin', '1980senloosely', '1980senthe', '1980sptcidade',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1990s', '1990senfeeling', '1990senfletcher',
       '1990sensequel', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '19th', '1encaptured', '1st', '20', '200',
       '2000', '2001', '2002', '20022007', '2002ena', '2003', '2004',
       '2005', '2006', '2007', '2007johnny', '2008', '2009', '2009sam',
       '2010', '2011', '2012', '2013', '2014', '2015', '2015daniel',
       '2016', '2017', '2018', '2019', '2020', '2025', '2027', '2028',
       '2029', '2035', '2047', '2058', '2079enset', '2087', '20s', '20th',
       '21', '2159', '2199', '21st', '22', '2257', '22nd', '23', '24',
       '2455', '25', '250', '2505', '250cc', '25th', '26', '27', '27th',
       '28', '280', '28th', '29', '298', '2nd', '30', '300', '3000',
       '30s', '30th', '31', '310lb', '32', '33', '344m', '35', '350',
       '370', '38', '39', '3d', '3den200', '3dena', '3denafter',
       '3denalex', '3denalice', '3denan', '3denarmed', '3denas',
       '3denbased', '3denborn', '3denbrave', '3dencaptain', '3dendutch',
       '3deneach', '3denfollowing', '3denfor', '3dengru', '3denheather',
       '3denhugo', '3denin', '3deninspired', '3denjackass', '3denjohn',
       '3denminions', '3denmumble', '3denon', '3denoscar',
       '3denpredominantly', '3denpresident', '3densean', '3denset',
       '3denskipper', '3densome', '3densurly', '3denten', '3denthe',
       '3denthunder', '3dentimes', '3dentravel', '3denwalking',
       '3denwhen', '3denyoung', '3druearly', '3po', '40', '400', '40s',
       '42', '43', '44', '47', '47th', '48', '480', '49', '4k', '4th',
       '50', '500', '50s', '50th', '51', '51enthree', '51st', '53', '533',
       '54', '56', '58', '59', '5m', '5th', '60', '600', '60s',
       '60senthe', '63', '64', '643', '65th', '66', '69', '70', '700',
       '70mm', '70s', '72', '73', '747', '74th', '75', '75th', '78', '79',
       '7th', '80', '800', '80s', '81', '83', '88', '8km', '8th', '90',
       '9000', '900lb', '90210', '90s', '911', '922', '92nd', '93', '95',
       '96', '98', '99', '9th', '_wizard', 'aa', 'aadassi', 'aames',
       'aang', 'aaron', 'aba', 'abaddon', 'abagnale', 'abandon',
       'abandoned', 'abandoning', 'abandonment', 'abaza', 'abba', 'abbas',
       'abbate', 'abberline', 'abbey', 'abbie', 'abbott', 'abby',
       'abderrahim', 'abdicates', 'abdication', 'abduct', 'abducted',
       'abduction', 'abductionenwhen', 'abductions', 'abductors',
       'abducts', 'abe', 'abel', 'aberdeen', 'abernathy', 'abhorrent',
       'abhors', 'abide', 'abigail', 'abilities', 'ability',
       'abilityenin', 'ablai', 'able', 'ableman', 'abo', 'aboard',
       'abode', 'abolish', 'abolition', 'abolitionist',
       'abolitionistenin', 'aboriginal', 'aborigine',
       'aborigineenstewart', 'aborigines', 'abortion', 'abound',
       'abraham', 'abrams', 'abrasive', 'abroad', 'abroadenthree',
       'abrupt', 'abruptly'], dtype=object)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similar=cosine_similarity(vector)

def recommend(rec):
    recommendation=df[df["original_title"]==rec].index[0]
    distance=similar[recommendation]
    list_jnd=(sorted(list(enumerate(distance)),reverse=True,key=lambda x: x[1]))[1:10]
    recommended_indices = [i[0] for i in list_jnd]

   
    newlist=df.iloc[recommended_indices]
    newlist=newlist.sort_values(by="popularity",ascending=False)
    for i in newlist["original_title"]:
        print(i)
recommend("Newlyweds")

A Perfect Getaway
Just Married
Devil's Due
Peaceful Warrior
Our Family Wedding
Not Easily Broken
Da Sweet Blood of Jesus
The House of Mirth
Something Wicked